
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  
</head>
<h1><%= message %></h1>
<body style="background-color:tomato">
  <div><img src="https://media1.giphy.com/media/d2VNG3GkpLdlyio8/giphy.gif?cid=ecf05e47kqyofsa73oof46ydxx01fvcvwqkwgp6vm0tm1w8l&rid=giphy.gif&ct=g" alt="plane crash"></div>
</body>
</style>
</html>

<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
